.DS_Store
node_modules
dist
venv

# backend
backend/app/__pycache__/
# frontend

# Database data
.data/

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
